<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome-KIMmanager</title>

    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    </environment>

    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/element/element.css" rel="stylesheet" />
    @RenderSection("style", required: false)
</head>
<body>
    <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - KIMsupport<a asp-area="" asp-page="/"></a>
        </div>
    </footer>
    <environment exclude="Development">

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/Vue/vue.js"></script>

    </environment>
    <environment include="Development">

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/Vue/vue.min.js"></script>

    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/element/element.js"></script>
    @RenderSection("js", required: false)
</body>
</html>
