@page
@{
    ViewData["Title"] = "BarCode";
    Layout = "~/Pages/Shared/_MainLayout.cshtml";
}



<div>
    <label>条码</label>
    <input type="text" id="txt_bar" />
    <input type="button" id="btn_creat" value="生成" />
    <div id="barcode"></div>

</div>

@section js{
    <script src="~/js/jquery.qrcode.js"></script>
    <script src="~/js/utf.js"></script>

    <script>
        //网页生成二维码功能
        $().ready(function () {
            InitLayout();
        });

        function InitLayout() {
            $('#btn_creat').click(function () {
                var bartext = $('#txt_bar').val();
                $('#barcode').empty();//清除容器内子元素
                CreatBarCode(bartext)//生成二维码
            });

            function CreatBarCode(bartext) {
                $('#barcode').qrcode({
                    render: "canvas",//设置渲染方式，有table和canvas，使用canvas方式渲染性能相对来说比较好
                    text: bartext,//扫描二维码后显示的内容,可以直接填一个网址，扫描二维码后自动跳向该链接
                    width: "200",//二维码的宽度
                    height: "200",//二维码的高度
                    background: "#ffffff",//二维码的后景色
                    foreground: "#000000",//二维码的前景色
                    //src:"" //二维码中间图片
                });
            }
        }

    </script>

}



