@page
@{
    ViewData["Title"] = "KIMain";
    Layout = "~/Pages/Shared/_MainLayout.cshtml";
}

<div>
    <input type="file" id="fb" />

</div>

@section js{

    <script>
        $().ready(function () {
            InitLayout();
        });

        function InitLayout() {
            $('#fb').change(function () {
                var mfile = document.getElementById('fb').files[0];
                var formData = new FormData();

                var url = "http://192.168.61.93:7418/FileUpDownLoad/File/UpLoadFile";

                formData.append('file', mfile);
                $.ajax({
                    url: url,
                    type: "POST",
                    dataType: "JSON",
                    data: formData,
                    async: false,
                    processData: false,  
                    contentType: false,
                    success: function (data) {
                        console.log(data);
                    }, error: function (r,s,e) {
                        console.log(e);
                    }
                });


            });
        }

    </script>
}

