@page
@{
    ViewData["Title"] = "KIMain";
    Layout = "~/Pages/Shared/_MainLayout.cshtml";
}

<div>
    <input type="file" id="fb" />

    <table>
        <tr>
            <th data-options="field:'credititem01',width:100,align:'center',editor:{type:'validatebox',options:{validType:'CustomNum'}},sortable:true" formatter="fornumber2">奖励</th>
        </tr>
    </table>
</div>

@section js{

    <script>
        $().ready(function () {
            InitLayout();
        });

        function InitLayout() {
            $('#fb').change(function () {
                var mfile = document.getElementById('fb').files[0];
                var formData = new FormData();

                var url = "http://192.168.61.93:7418/FileUpDownLoad/File/UpLoadFile";
                formData.append('file', mfile);//文件添加
                formData.append('id', 'paramstest');//添加参数
                $.ajax({
                    url: url,
                    type: "POST",
                    dataType: "JSON",
                    data: formData,
                    async: false,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        console.log(data);
                    }, error: function (r, s, e) {
                        console.log(e);
                    }
                });
            });
        }

        function virtualData() {
            var alldatafield = $('[data-field]').each(function (index) {
                var layout = $(this);
                if (layout.attr('class') != undefined) {
                    var cls = layout.attr('class');
                    if (cls.indexOf('easyui-datebox') > -1) {
                        layout.textbox('setValue', '2019-05-16');
                    } else if (cls.indexOf('easyui-textbox') > -1) {
                        layout.textbox('setValue', layout.attr('data-field'));
                    }
                }
            });
        }


        function request() {
            var p = new Promise(function (resolve, reject) {
                $.post(url, params, function (data) {
                    resolve();
                }).error(function (r, s, e) {
                    reject();
                })
            });
            p.then(function (data) {

            }).catch(function (err) {

            });
        }

        function addFileText(filename, fileid) {
            var filetext = $("<div style=\"margin:20px\"> <input class=\"easyui-textbox\" value='" + filename + "' style=\"width:100%;\" fileid='" + fileid + "' iconAlign='left' editable=\"false\" data-options=\" iconWidth: 22,icons: [{ iconCls:'icon-remove',handler: function(e){ delFile($(e.data.target))} },{iconCls:'icon-search',handler: function(e){ showFile($(e.data.target))}}] \"></div>").appendTo("#appendix");
            $.parser.parse(filetext);
        }

        $.extend($.fn.validatebox.defaults.rules, {
            CustomNum: {//验证数字   
                validator: function (value, param) {
                    return EasyLib.Reg.IsNum(value);
                },
                message: "不合法数字"
            }
        });

    </script>
}

